$primary-color: #1B2430;
$secondary-color: #51557E;
$delete-color: #816797;
$clear-color: #D10000;
$operator-color: #D6D5A8;
$background-color: #2b2f58;

body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: $background-color;
}

.container {
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0.4%;
    background-color: $primary-color;
    border-radius: 10px;
    font-family: arial;

    button {
        border: 0;
        border-radius: 5px;
        font-size: 1.3rem;
        transition: 0.2s;
    }

    .result {
        width: 500px;
        height: 100px;
        color: white;
        font-size: 3rem;

        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        flex-direction: column;

        .bottom {
            height: 3rem;
        }

        .top {
            font-size: 1.5rem;
        }
    }
    
    .buttons {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .upper {
            display: flex;
            gap: 2px;
            padding-bottom: 2px;

            button {
                width: 250px;
                height: 60px;
                font-weight: normal;
            }
            button:hover {
                filter: brightness(85%);
            }
            .clear {
                background-color: $clear-color;
            }
            .delete {
                background-color: $delete-color;
            }
        }
        .lower {
            display: grid;
            grid-template-columns: 124px 124px 124px 124px;
            gap: 2px;

            button {
                height: 60px;
                background-color: $secondary-color;
            }
            button:hover {
                filter: brightness(85%);
            }

            .operator {
                background-color: $operator-color;
            }
        }
    }
}
